<ion-tabs>

  <ion-tab-bar id="tab-bar" slot="bottom">

    <ion-tab-button class="tab-button" tab="home">
      <ion-button shape="round" fill="{{homeTabActive}}">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-tab-button>

    <ion-tab-button class="tab-button" tab="catalog">
      <ion-button shape="round" fill="{{catalogTabActive}}">
        <ion-icon name="book"></ion-icon>
      </ion-button>
    </ion-tab-button>

    <ion-tab-button class="tab-button" tab="calendar">
      <ion-button shape="round" fill="{{calendarTabActive}}">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
